<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserEntityMapper">
	<select id="findUserEntity" parameterType="string" resultType="com.example.demo.domain.UserEntity">
		select
            userinfo.name as name,
            sysuser.role as role,
            userinfo.password as password
        from
            userinfo
        join sysuser on userinfo.name = #{name} and sysuser.name = #{name};
	</select>
</mapper>