<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>ユーザーログイン</title>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/login-success">ユーザーログイン成功</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="card card-primary mb-3">
            <div class="card-header">
                <h5 class="card-title">ユーザーログイン成功!!!</h5>
            </div>
        </div>
    </div>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>