<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylysheet" href="/css/signin.css" type="text/css">
    <title>ユーザーログイン</title>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/login">ユーザーログインデモ</a>
            </div>
        </div>
    </nav>
    <div>
        <h1 class="h4 mb-3 fw-normal">ユーザーログインしてください</h1>
    </div>
    <main class="form-signin">
        <div class="container">
            <div class="card card-primary mb-3">
                <div class="card-header">
                    <h5 class="card-title">ユーザーログイン</h5>
                </div>
                <div class="card-body">
                    <form th:action="@{/login}" th:method="post" th:object="${user}">
                        <div class="form-group row">
                            <div class="col-md-10">
                                <Label class="col-md-2 control-label">ユーザー名前</Label>
                                <input class="form-control" type="text" th:field="*{name}" placeholder="貴方の名前">
                                <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                            </div>
                            <div class="col-md-10">
                                <Label class="col-md-5 control-label">ユーザーパスワード</Label>
                                <input class="form-control" type="password" th:field="*{password}" placeholder="パスワード">
                                <div class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                            </div>
                            <table class="table table-striped">z
                                <thead>
                                    <tr>
                                        <button class="btn btn-primary">ログイン</button>
                                        <!-- <button class="btn btn-primary">新規登録</button> -->
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>